<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='stylesheet' href='/static/css/index.css'>
        <link rel='stylesheet' href='/static/css/results.css'>
  </head>
  <body>

      <a href="/"><p id="LOGO">Keyboard<span id="colorize">S</span></p></a>

      <h1>Page not found :-0</h1>
      <h3>404</h3>
        
  </body>
</html>
