<html>
    <head>
    <title>Keyboards - Scheme Preview</title>
    <link rel=StyleSheet href="../../../static/css/keyboard.css" type="text/css" media=screen>
    <link rel=StyleSheet href="../../../static/css/keyboard_preview.css" type="text/css" media=screen>

    <div id="whichSchemer" scheme-id="i{{scheme_id}}"></div>

    <div id="tooltip">
        <h4 id="keyTitle"></h4>

        <p id="shortcutDesc">Key Description goes here. Key Description goes here. Key Description goes here. Key Description goes here.
        Key Description goes here. Key Description goes here. Key Description goes here. Key Description goes here.</p>

    </div>

    {% include 'preview.html' %}

    </body>
</html>